:root {
    --first-letter-highlight: #ff0157;
    --main-color: #ff0157;
}
.header_section::first-letter {
    color: var(--first-letter-highlight);
}
.main-color {
    color: var(--main-color);
}
.img-profile {
        background-color: rgba(211, 211, 211, 0.829); 
        border: 1px solid rgba(0, 119, 255, 0.726);
        border-radius: 50%; 
        display: block;
        height: 250px; 
        margin: auto;
        width: 250px; 
}

.btn-wpp:hover {
    color: #25D366;
}
.btn-instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #3b5998);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 13px 0;
}
.btn-github:hover {
    color: rgba(0, 0, 0, 0.795)
}

