:root {
    --first-letter-highlight: #ff0157;
    --main-color: #ff0157;
}
.header_section::first-letter {
    color: var(--first-letter-highlight);
}
.main-color {
    color: var(--main-color);
}
.img-profile {
        background-color: rgba(211, 211, 211, 0.829); 
        border: 1px solid rgba(0, 119, 255, 0.726);
        border-radius: 50%; 
        display: block;
        height: 250px; 
        margin: auto;
        width: 250px; 
}
