@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,700;1,800;1,900&display=swap');

.navbar, .banner {
    font-family: 'Poppins', sans-serif;
}
.cabecalho__logo {
    font-size: 2.5rem;
    color: #fff;
}
.cabecalho__logo--destaque {
    color: #ff0157;
}

.banner {
    background-image: url(../../img/background/banner.jpeg);
    height: 100vh;
}

.formatura {
    width: 300px;
    height: 290px;
    overflow: hidden;
}

.done_projects {
    background-color: transparent;
    border: 2px solid #ff0157;
    color: #ff0157;
    display: inline-block;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    padding: 5px;
}
.done_projects:hover {
    background-color: #ff0157;
    color: #fff;

}
